<br>
<div class="col-lg-12">
  <h1 class="jumbotron">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur provident fugiat vero, cumque amet veniam quae
    consequuntur earum et, facilis inventore. Veniam, vero voluptatem. Eum eos laboriosam corporis optio inventore.
  </h1>
</div>
